.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px); /* ocupa todo el alto menos header */
}

.login-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  width: 300px;
}

.login-container input, .login-container select, .login-container button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.login-container button {
  background-color: #A50411;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.login-container button:hover {
  opacity: 0.8;
}
