:root {
  /* 🎨 Colores principales */
  --primary-color: #A50411; 
  --primary-hover: #8a0410;
  --background-color: #f0f0f0;
  --card-background: #ffffff;
  
  /* 🖋️ Texto */
  --text-color: #333333;
  --text-light: #666666;
  --error-color: #d9534f;
  --black: #000000;
  --link: #0077cc;

  /* 🧱 Bordes y sombras */
  --border-color: #cccccc;
  --shadow-color: rgba(0, 0, 0, 0.1);
}
