header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--card-background);
  box-shadow: 0 2px 4px var(--shadow-color);
  height: 80px;
  color: var(--text-color);
}

header .logo {
  height: 120px;
  max-height: 100%;
}

nav {
  display: flex;
  gap: 15px;
}

nav button {
  background-color: var(--primary-color);
  color: var(--card-background);
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

nav button:hover {
  background-color: var(--primary-hover);
}

nav button:disabled {
  background-color: var(--border-color);
  color: var(--text-light);
  cursor: not-allowed;
}
