.modelo-card {
  background-color: var(--card-background);
  border-radius: 5px;
  box-shadow: 0 1px 3px var(--shadow-color);
  padding: 20px;
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 350px;
  box-sizing: border-box;
  cursor: pointer;
  transition: transform 0.2s;
}

.modelo-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-radius: 5px;
  margin-bottom: 10px;
}

.modelo-card h3 {
  margin: 5px 0 2px;
  font-size: 1.2rem;
}

.modelo-card p {
  margin-top: 15px;
  font-weight: bold;
  color: var(--primary-color);
}

.modelo-card:hover {
  transform: scale(1.03);
}

.modelo-card .price {
  margin: 5px 0;
  font-weight: bold;
}

.modelo-card .dealer {
  margin-top: 4px;
  font-size: 0.95rem;
  color: var(--link);
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
}

.modelo-card .dealer:hover {
  text-decoration: underline;
  color: var(--link-hover);
}
